.About-main{
    padding: 100px;
    background-image: url("./Images/aboutBG1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;  
}

/* Dark mode */

#aboutDark .About-main{
    background-color: #1D1D1F;
} 

#aboutDark .About-title{
    color: white;
}

#aboutDark .About-content{
    color: #E8E8E8;
}


.About-title{
    font-size: 96px;
    font-weight: 600;
}


.About-content{
    width: 70%;
    font-size: 16px;
}

@media(max-width:900px){
    .About-main{
        padding: 40px;
    }
    .About-title{
        font-size: 75px;
    }
}

@media(max-width:768px){
    .About-main{
        padding: 75px;
        background-size: cover;
    }
    .About-title{
        font-size: 70px;
    }
    .About-content{
        width: 100%;
    }
}
@media(max-width:500px){
    .About-main{
        padding: 20px 25px;
    }
    .About-title{
        font-size: 60px;
    }
    .About-content{
        font-size: 15px;
    }
}