.CoreSubContainer{
   padding: 100px;
   gap: 24px;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: center;

}



.CoreHeading {
   font-size: 64px;
   font-weight: 300;
   line-height: 77px;
   letter-spacing: 0em;
   text-align: left;
}

/* .Service-arrowImage{
   height: 15px;
   width: 15px;
} */

.Link-individual{
   display: flex;
   gap: 5px;
   align-items: center;
}

.ServiceNotActive{
   color: black;
}
.ServiceActive{
   font-weight: 600 !important;
   color: #0E94FB;
}
.servicesLinks {
   width: 100%;
   min-height: 45vh;
   display: flex;
   gap: 20px;

}

.LinksSection li {
   list-style: none;
   font-size: 26px;
   white-space: nowrap;
   font-weight: 400;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: left;
   cursor: pointer;
}

.LinksSection {
   flex:1;
   display: flex;
   gap: 15px;
   flex-direction: column;
   justify-content: space-around;

}

.LinksInformation {
   flex:2;
   display: flex;
   align-items: center;

}



.LinksData p {
   margin-bottom: 40px;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: left;

}

.LinksData button {
   font-size: 24px;
   border: 2px solid #0E94FB;
   padding:24px 50px;
   border-radius: 100px;
   color: #0E94FB;

}

@media(max-width:1000px){

   .CoreSubContainer{
      padding: 65px;
   }
   .LinksSection li{
      font-size: 20px;
   }
   .LinksData button{
      padding: 20px 35px;
   }
}

@media(max-width:768px){

   .CoreHeading{
      font-size: 50px;
   }

   .LinksSection{
      flex-direction: row;
      justify-content: flex-start;
      overflow-x: scroll;
      border-radius: 16px;
      padding: 5px 12px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .servicesLinks{
      flex-direction: column;
   }

   .LinksData{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .LinksData p{
      padding: 0 20px;
   }

}

@media(max-width:550px){

   .CoreSubContainer{
      padding: 30px;
      gap: 0px;
   }
   .CoreHeading{
      font-size: 35px;
   }
   .LinksData p{
      padding: 0 15px;
      font-size: 16px;
   }
   .LinksSection li{
      font-size: 18px;
   }
   .LinksData button{
      font-size: 16px;
   }
}

@media(max-width:400px){
   .CoreHeading {
      font-size: 28px;
   }
   .CoreSubContainer{
      padding: 10px;
   }
   .LinksData p{
      font-size: 13px;
   }
   
   .LinksSection li {
      font-size: 16px;
   }
   .LinksData button {
      padding: 8px 30px;
   }
}