.News_Blogs_container {
	background-color:#F5F5F7;
	;
	padding: 7%;
}
.News_Blogs_section {
	width: 100%;
}

.news-section {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.section-header {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		222deg,
		#0060aa 1.65%,
		#0e94fb 107.33%
	);
	width: 100%;
	font: 700 36px/133% "Inter", -apple-system, Roboto, Helvetica,
		sans-serif;
	margin: 0; /* Resets default margins for semantic headers */
}

@media (max-width: 991px) {
	.section-header {
		max-width: 100%;
	}
}

.section-content {
	color: #6E6E73; /* Previously var(--text-color-secondary---light-mode, #6e6e73) */
	margin-top: 40px;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

@media (max-width: 991px) {
	.section-content {
		max-width: 100%;
	}
}
/* card */
.articleCard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.article_sub_card {
    margin:1%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 0px !important;
}
.article_sub_card img {
	width: 300px;
	height: 400px;
	margin: 15px 0px 10px 0px;
}
.contentWrapper {
	width: auto;
}
.contentWrapper .articleHeader {
	color: #0060aa;
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.contentWrapper .articleTitle {
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	width: 300px;
	letter-spacing: 0em;
	text-align: left;
}
.learnMoreBtn {
	border: 2px solid #0060aa;
	padding: 10px 25px;
	border-radius: 100px;
	gap: 24px;
}
.learnMoreBtn:hover{
	border: 2px solid #0060aa;
	padding: 10px 25px;
	border-radius: 100px;
	gap: 24px;
	background-color: #7cc6ff;
	transition: 1.0s;
	color: #ffffff;
}
/* ================================================= */
.actionWrapper{
	width: auto;
}