.Contacts_container {
	background-image: url(Images/Lets_talk.svg);
	background-position: center;
	position: relative;
    background-size: cover;
	padding: 6%;
	gap: 24px;
}
.contacts_section {
    display: flex;
	flex-wrap: wrap;    
    align-items: center;
	justify-content: space-between;
}
.contacts_sub_section {
	justify-content: space-evenly;
}
.contacts_sub_sec_Heading {
	font-size: 54px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}
.contacts_sub_sec_paragraph {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}
.contacts_sub_sec_button {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: white;
	background: linear-gradient(222.06deg, #0060aa 1.65%, #0f85df 107.33%);
	width: 230px;
	height: 72px;
	padding: 24px;
	border-radius: 100px;
	gap: 24px;
	border: solid white;
}
@media(min-width: 595px) {
	.contacts_sub_sec_button {
		font-family: Inter;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0em;
		text-align: center;
		color: white;
		background: linear-gradient(222.06deg, #0060aa 1.65%, #0f85df 107.33%);
		width: 170px;
		height: 60px;
		padding: 18px;
		border-radius: 100px;
		gap: 24px;
		border: solid white;
	}
}
.Contact_Details_sec_section {
    padding: 5px;
    margin: 2px;
    justify-content: space-evenly;
	margin-top: 20px;
}

.Contact_Details_child a{
    color:white;
    font-size: 13px;
    font-weight: bold;

}
.Contact_Details_child img{
    border-radius: 100%;
    background-color: aliceblue;
    margin:3px;
    padding:5px;
}
.Contact_Details_child:hover a{
   color: black;

}
.Contact_Details_child:hover img{
   background-color: black;
 
 }

 .Contact_Details_location p{
    padding-left: 35px;
    color:white;
    font-family: Inter;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

 }
 .Contact_Details_location:hover p{
    color: black;
 }