#IndustriesDark{
    background-color: #1D1D1F;
    color: white;
}

.Industries-main{
    padding: 100px;
}
.Industries-title{
    font-size: 96px;
    font-weight: 600;
}
.Industries-content{
    width: 70%;
    font-size: 16px;
}

#IndustriesDark .Industries-content{
    color: #E8E8E8;
}

@media(max-width:768px){
    .Industries-main{
        padding: 75px;
    }
    .Industries-title{
        font-size: 70px;
    }
    .Industries-content{
        width: 100%;
    }
}
@media(max-width:500px){
    .Industries-main{
        padding: 25px 50px;
    }
    .Industries-title{
        font-size: 60px;
    }
}