*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    
  }
.FooterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:500px;
    width:98vw;
    background-color: white;
    padding:100px;
    position: absolute;
}
.FooterContainerSection{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width:81.1vw;
}